<h1>Edit this Expedition!</h1>
<br>
<%= render 'layouts/error', object: @expedition %>
<%= render 'form', expedition: @expedition, harvests: @expedition.harvests.length , diff_for_new_n_edit: @expedition.items, url: user_expedition_path(@user)%>

