<h1>Edit this Expedition!</h1>
<br>
<%= render 'layouts/error', object: @expedition %>
<%= render 'form', expedition: @expedition, harvests: @expedition.harvests.length , url: user_expedition_path(@user)%>

