<h1>New Expedition</h1>
<br>
<%= render 'layouts/error', object: @expedition%>
<%= render 'form', expedition: @expedition, harvests: @expedition.harvests.length,  diff_for_new_n_edit: @expedition.items.build, url: user_expeditions_path(@user)%>

